<h3>@ViewBag.Message</h3>
<h2>@ViewBag.Title</h2>

@model List<DateTime>
@{

}



    <div class="glyphicon-fullscreen"> </div>
        <div style="background-size:cover";>
            <img class="img-round" src="https://www.weselezklasa.pl/images/gallery/150/17803_6.jpg" />
              </div>

