<h2>@ViewBag.Video</h2>
<h2>Multimedia</h2>

<div class="row">

    <div style="position:relative; padding-bottom:56.25%; padding-top:40px; height:50%; overflow:hidden;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wT3gjTspBbo" frameborder="0"
                    allow="accelerometer; encrypted-media; gyroscope;" allowfullscreen></iframe><br/>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lOrdUPKfQm8" frameborder="0"
                    allow="accelerometer; encrypted-media; gyroscope;" allowfullscreen></iframe><br/>
    </div>  

</div>

