@* Hej widoku przyjmij mi List<Klient> *@
@model List<Klient>
@{
    ViewBag.Title = "About";
}


<p>Use this area to provide information.</p>

<h1>Imie:</h1> @Model[0].imie
<h1>Nazwisko:</h1> @Model[0].nazwisko
