<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <a href="https://www.facebook.com/muzycznyfenix"><img src="1082146_732598470108357_1586609298_n.jpg" alt="Facebook"></a><br />
    <a href="https://www.planujemywesele.pl/31763-zespol-muzyczny-fenix"><img src="../image/planujemy.jgp" alt="PlanujemyWesele"></a><br />
    <strong>Telefon kontaktowy:</strong> 669-486-995 lub 722-143-905<br />
    <strong>E-mail:</strong> <a href="mailto:zespol.fenix@wp.pl">zespol.fenix@wp.pl</a><br />
</address>